body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
header{
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    height: 150px;
}

.logo-pic img{
    height: 120px;
    margin-right: 20px;
}
.title-text{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-text h1{
    margin: 0;
    font-size: 2.5em;
    align-items: center;
}
.title-text p{
    margin: 5px 0 0 0;
    font-size: 1.2em;
    font-weight: normal;
    align-items: center;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .logo-pic img {
        margin: 0 0 10px 0;
    }
}
